.start_menu {
  position: fixed;
  inset: 0;

  background-image: url("/start_menu.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  font-family: "Luckiest Guy", cursive;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
}

.map_content {
  width: 2000px;
  height: 1600px;

  background-image: url("/map_cont.png"); /* ← ОБОВʼЯЗКОВО розширення */
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 3rem;
}
.lvl_button {
  width: 220px;
  height: 86px;

  border-radius: 30px;

  background: radial-gradient(
      circle at top,
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0) 60%
    ),
    linear-gradient(180deg, #7fe9ff, #3bb5ff);

  border: 2px solid rgba(255, 255, 255, 0.6);

  box-shadow: 0 8px 20px rgba(0, 180, 255, 0.35),
    inset 0 4px 6px rgba(255, 255, 255, 0.4),
    inset 0 -4px 6px rgba(0, 0, 0, 0.15);

  color: white;
  font-size: 2.4rem;
  font-family: "Luckiest Guy", cursive;

  cursor: pointer;
  transition: transform 0.15s ease, box-shadow 0.15s ease;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lvl_button:hover {
  transform: translateY(-2px);
  box-shadow: 0 12px 28px rgba(0, 180, 255, 0.5),
    inset 0 4px 6px rgba(255, 255, 255, 0.5);
}

.start_button:active {
  transform: translateY(1px);
  box-shadow: 0 6px 14px rgba(0, 180, 255, 0.3),
    inset 0 3px 5px rgba(0, 0, 0, 0.25);
}
